# Игнорируем папку идеи (те самые файлы в .idea/)
.idea/
lab1/.idea/
*.iml

# Игнорируем результаты сборки Gradle
build/
lab1/build/
.gradle/
lab1/.gradle/

# Игнорируем логи и временные файлы
*.log
lab1/*.log

# Если вы НЕ хотите сохранять локальный запускной файл Gradle (wrapper)
lab1/gradle/
lab1/gradlew
lab1/gradlew.bat

# Оставляем ваши старые правила
*.class
*.jar
*.war
*.zip
